.main-nav{
    color: white;
    background-color: #21293d;
    padding: 2rem;
    border-bottom-left-radius: 2rem
}
.main-nav ul {
   text-align: right;
   margin-left: auto;
   text-decoration: none;
}
.main-nav .navbar-brand{
    color:white;
    font-size:22px;
    font-weight: 700;
}
.main-nav ul a {
    color:white;
    font-size:18px;
}